body:{

    height: 720px;
    width: 1280px;
    left: -640px;
    top: -361px;
    background-color: #FFFFFF;
    font-size: 16px;

}

div:nth-child(odd){
    width: 75%;
}
div:nth-child(even){
    width: 50%;
}

div {
    font-size: 1.5em;
}
.bloc1:hover,.bloc2:hover,.bloc3:hover,.bloc4:hover {
    font-size:200% ;
}
.bloc1,.bloc2,.bloc3,.bloc4{
    font-family: 'Roboto', sans-serif;
    background:#C4C4C4;
}
.bloc1{

    height: 150px;
    width: 943.5px;
}
.bloc2{
    height: 150px;
    width: 629px;
}
.bloc3{
    height: 150px;
    width: 943.5px;
}
.bloc4{
    height: 150px;
    width: 628px;
}

